doctype html
html(lang='en', ng-app='myApp')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/vendor/bower_components/textAngular/dist/textAngular.css')
        link(rel='stylesheet', href='/fontawesome/css/font-awesome.min.css')

        title Вопросодобавлялка
        body
        block content
        script(src='/vendor/bower_components/jquery/dist/jquery.min.js')
            script(src='/javascripts/libs/lib.js')
            script(src = '/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js')
            script(src = '/vendor/bower_components/angular/angular.min.js')
            script(src = '/vendor/bower_components/angular-resource/angular-resource.min.js')
            script(src = '/vendor/bower_components/angular-route/angular-route.min.js')
            script(src = '/vendor/bower_components/angular-ui-router/release/angular-ui-router.min.js')
            script(src = 'javascripts/myApp.js')
            script(src = '/javascripts/add/add.js')
            script(src = '/javascripts/view/view.js')
            script(src = 'javascripts/auth.js')
            script(src =  'javascripts/users_adm/users.js')
            script(src = '/javascripts/notifications/notification.js')
        script(src='/vendor/bower_components/textAngular/dist/textAngular-rangy.min.js')
        script(src='/vendor/bower_components/textAngular/dist/textAngular-sanitize.min.js')
        script(src='/vendor/bower_components/textAngular/dist/textAngular.min.js')

